*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";

}

.sidebar{
    background-color: #0ea5e9;
    display:flex;
    flex-flow: column nowrap;
    padding-top: 2rem;
    gap: 3rem;
    grid-area: sidebar;
    color: white;
    padding-left: 3.5rem;
    padding-right:2rem;
}

.sidebar ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.sidebar ul li,.actions ul li{
    list-style: none;
}

/* header CSS */
.header{
    grid-area: header;
    background-color: #f0f9ff;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 60%;
    align-items: center;
}


.actions ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
}

.actionBtns{
    appearance: none;
    width: 5rem;
    padding: 0.5rem;
    border-radius:1rem;
    background-color:#0ea5e9;
    color: white;
}

.searchbar{
    padding-left: 3rem;
}

.searchBar{
    appearance: none;
    border: transparent;
    border-radius: 1rem;
    padding:0.3rem;
    padding-left: 0.8rem;
    width: max(350px,60%);
    background-color: lightgray;
    position:relative;
}

input.searchBar::before{
    content: url("icons/magnify.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;
}


.main-content{
    grid-area: main-content;
    background-color: #e0fefe;
}




/* Sidebar CSS */
.logo{
    position: relative;

}

.logo::before{
    content: url("icons/cat.svg");
    position: absolute;
    width: 1.5em;
    left: -1.5em;
    top: -0.4rem;
    
}

.profileLinks li, .settingLinks li{
    margin: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.profileLinks, .settingLinks{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.profileLinks li{
    position: relative;
}

#home::before{
    content: url("icons/home.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;
    
}

#profile::before{
    content: url("icons/card-account-details-outline.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;
}

#messages::before{
    content: url("icons/message.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;
}

#history::before{
    content: url("icons/clock-outline.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;

}

#tasks::before{
    content: url("icons/list-box-outline.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;

}

#communities::before{
    content: url("icons/account-group.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;
}

.settingLinks li{
    position: relative;
}


#settings::before{
    content: url("icons/cog.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;
}

#support::before{
    content: url("icons/face-agent.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;
}

#privacy::before{
    content: url("icons/shield-lock.svg");
    position: absolute;
    width: 1.2em;
    left: -1.5em;
}